<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<title>Bootstrap Sign up Form with Icons</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="exam-form">

 <div [hidden]="submitted" style="width: 400px;">

 <form [formGroup]="examsaveform" #saveExam1 (ngSubmit)="saveExam(saveExam1)">

 <h2>Quiz</h2>

    <hr>

    <div class="form-group">

  <div class="input-group">

  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>

  <input type="number" class="form-control" formControlName="testid" placeholder="testid" required="required">

  <div class="alert alert-danger" *ngIf = "(Testid.touched) && (Testid.invalid)"

        style="margin-top: 5px;">

         <span *ngIf="Testid.errors.required">Testid is Required</span>

        </div>

  </div>

    </div>

    <div class="form-group">

  <div class="input-group">

  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>

  <input type="text" class="form-control" formControlName="result" placeholder="result" required="required">

  <div class="alert alert-danger" *ngIf = "(Result.touched) && (Result.invalid)"

        style="margin-top: 5px;">

         <span *ngIf="Result.errors.required">Result is Required</span>

        </div>

  </div>

    </div>

    <div class="form-group">

  <div class="input-group">

  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>

  <input type="text" class="form-control" formControlName="username" placeholder="Username" required="required">

  <div class="alert alert-danger" *ngIf = "(Username.touched) && (Username.invalid)"

        style="margin-top: 5px;">

         <span *ngIf="Username.errors.required">Username is Required</span>

        </div>

  </div>

    </div>

 <div class="form-group">

  <button type="ngsubmit" class="btn btn-primary btn-lg" [disabled]=!examsaveform.valid >Save</button>



 </div>



  </form>

</div>

</div>

<div [hidden]="!submitted">

 <h4>Result Added SuccessFully!</h4>

 <button (click)="saveExamForm()"></button>

 </div>

</body>

</html>
