<!DOCTYPE html>

<html lang="en">

<head>

 <title>Bootstrap Card</title>

 <meta charset="utf-8">

 <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>



<div class="container">

 <br>

 <h2 class="text-center">Admin Dashboard</h2>

 <br>

 <div class="card-deck">

  <div class="card" style="width:500px">

   <img class="card-img-top" src="https://as1.ftcdn.net/jpg/01/80/02/68/500_F_180026818_W8Gp5xdbZkLvyrW6gSNxS60OVlrIChRZ.jpg" alt="Card image">

   <div class="card-img-overlay">

   <div class="card-body text-center">

    <p class="card-text">Some text inside the first card</p>

    <a RouterLink="#" class="btn btn-primary">Add Questions</a>

   </div>

  </div>

  </div>

  <div class="card" style="width:500px">

   <img class="card-img-top" src="https://as1.ftcdn.net/jpg/01/80/02/68/500_F_180026818_W8Gp5xdbZkLvyrW6gSNxS60OVlrIChRZ.jpg" alt="Card image">

   <div class="card-img-overlay">

   <div class="card-body text-center">

    <p class="card-text">Some text inside the second card</p>

    <a RouterLink="#" class="btn btn-primary">Update Questions</a>

   </div>

   </div>

  </div>

  <div class="card" style="width:500px">

   <img class="card-img-top" src="https://as1.ftcdn.net/jpg/01/80/02/68/500_F_180026818_W8Gp5xdbZkLvyrW6gSNxS60OVlrIChRZ.jpg" alt="Card image">

   <div class="card-img-overlay">

   <div class="card-body text-center">

    <p class="card-text">Some text inside the third card</p>

    <a RouterLink="#" class="btn btn-primary">Delete Questions</a>

   </div>

  </div>

 </div>

</div>

</div>

</body>

</html>

